<div [ngClass]="['card', isClickPrevented ? 'clickPrevented' : '']">
  <img
    class="portrait"
    alt="Drawing of a star wars entity"
    (mouseover)="hoverHandler()"
    (mouseleave)="hoverHandler()"
    [src]="defaultImage"
    [lazyLoad]="lazyLoadImage"
    [errorImage]="imageToShowOnError"
    (click)="!isLoading ? openDialog() : null"
  />
  <mat-card-content class="cardBody">
    <div *ngIf="hovered" [class.animate__fadeOut]="startHide">
      <p [ngClass]="['entityName']">{{ obj.name }}</p>
      <p>{{ trimedDescription }}</p>
    </div>
  </mat-card-content>
</div>
