<div class="card">
  <img
    class="portrait"
    alt="Drawing of a star wars entity"
    (mouseover)="hoverHandler()"
    (mouseleave)="hoverHandler()"
    [src]="defaultImage"
    [lazyLoad]="lazyLoadImage"
    [errorImage]="imageToShowOnError"
    (click)="!isLoading ? openDialog() : null"
  />
  <mat-card-content class="cardBody">
    <div
      *ngIf="hovered"
      [class.animate__fadeOut]="startHide"
      [ngClass]="[
        'entityDetailContainer',
        'animate__animated',
        'animate__fadeIn',
        'animate__delay-1s'
      ]"
    >
      <p [ngClass]="['entityName']">{{ obj.name }}</p>
      <p>{{ trimedDescription }}</p>
    </div>
  </mat-card-content>
</div>

<!-- src="{{ obj.image }}" -->
