<!-- <div class="fade"></div> -->

<section [ngClass]="['star-wars', 'animate__animated', 'animate__fadeIn']">
  <div class="crawl">
    <div class="title">
      <p>Episode X</p>
      <h1>A New Adventure</h1>
    </div>

    <p>
      It is still a period of civil war. Rebels and the Galactic Empire are
      still figthing, among others.
    </p>
    <p>
      Choose carefully your character and gears to start this story based
      adventure where your choices will matter.
    </p>
    <p>
      Depending on your side, you will either want to destroy the evil Galactic
      Empire for the greater good, or the opposite, crushing all the rebellion
      forces to force domination into all the galaxies.
    </p>
    <p>
      Star wars tribute is a fan-made short story-based game, with no commercial
      purpose.
    </p>
  </div>
  <audio preload="auto" autoplay>
    <source src="/assets/audio/Starwars-opening.mp3" type="audio/mpeg" />
  </audio>
</section>
