.panels-router-container {
  height: 100vh;
}

.scene-1,
.scene-2 {
  position: absolute;
  inset: 0;
}

.scene-2 {
  mask-image: linear-gradient(to left, transparent 47.5%, #fff 52.5%);
  mask-size: 210%;
  mask-position: right;
}

.transitionOn {
  mask-position: left;
  transition: -webkit-mask-position 2s linear;
}

.scene-2,
.character-detail-card-container {
  background-image: url("/assets/images/light-background.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
