<div class="card">
  <img
    class="portrait"
    src="{{ obj.image }}"
    alt="Drawing of a star wars hero"
    (mouseover)="hoverHandler()"
    (mouseleave)="hoverHandler()"
    (click)="chooseHandler()"
  />
  <mat-card-content class="cardBody">
    <div
      *ngIf="hovered"
      [class.animate__fadeOut]="startHide"
      [ngClass]="[
        'heroDetailContainer',
        'animate__animated',
        'animate__fadeIn',
        'animate__delay-1s'
      ]"
    >
      <p [ngClass]="['heroName']">{{ obj.name }}</p>
      <p>{{ trimedDescription }}</p>
    </div>
  </mat-card-content>
</div>
