/* All delay classes will take half the time to start */
:root {
  user-select: none;
}

html,
body {
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgray;
}
