<div class="welcome-panel-container">
  <!-- WelcomingStep 0 -->
  <div
    [ngClass]="[
      'launch-button',
      'animate__animated',
      isbuttonInAnimationNeeded ? 'animate__fadeIn' : '',
      isAnimated ? 'animate__headShake' : ''
    ]"
  >
    <button
      *ngIf="currentWelcomingStep === allWelcomingSteps.Step0"
      (click)="launchButtonHandler()"
      class="launch-button"
      mat-raised-button
      color="accent"
    >
      Dive into Starwars ?
    </button>
  </div>

  <!-- WelcomingStep 1 -->
  <div
    [hidden]="currentWelcomingStep != allWelcomingSteps.Step1"
    class="starwars-demo"
  >
    <img src="/assets/images/star.svg" alt="Star" class="star" />
    <img src="assets/images/wars.svg" alt="Wars" class="wars" />
    <h2 class="byline" id="byline">tribute's adventure</h2>
  </div>
  <!-- WelcomingStep 2 -->
  <app-scrolling-text
    *ngIf="
      currentWelcomingStep === allWelcomingSteps.Step2 ||
      currentWelcomingStep === allWelcomingSteps.Step3
    "
  ></app-scrolling-text>
  <!-- WelcomingStep 3 -->
  <div
    *ngIf="currentWelcomingStep === allWelcomingSteps.Step3"
    [ngClass]="[
      'start-button-container',
      'animate__animated',
      isbuttonInAnimationNeeded ? 'animate__fadeIn' : '',
      isAnimated ? 'animate__headShake' : ''
    ]"
  >
    <button
      (click)="startButtonHandler()"
      [ngClass]="['start-button']"
      mat-raised-button
      color="accent"
    >
      Start !
    </button>
  </div>
</div>
