.choose-panel-container {
  background-image: url("/assets/images/light-background.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.panelContainer,
.choosingPanelTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.choosingPanelTitle {
  margin: 15px 15px;
  font-weight: 700;
  font-size: 25px;
}

.rerollBtnContainer {
  position: absolute;
  left: 6%;
  top: 55%;
}
