<div class="card">
  <img
    class="portrait"
    src="{{ hero.portrait }}"
    alt="Drawing of a star wars hero"
    (mouseover)="handleHover()"
    (mouseleave)="handleHover()"
  />
  <mat-card-content class="cardBody">
    <div
      *ngIf="hovered"
      [class.animate__fadeOut]="startHide"
      [ngClass]="[
        'heroDetailContainer',
        'animate__animated',
        'animate__fadeIn',
        'animate__delay-1s'
      ]"
    >
      <p [ngClass]="['heroName']">{{ hero.name }}</p>
      <p>{{ trimString(hero.description, 150) }}</p>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>Select</button>
  </mat-card-actions> -->
</div>
